Flask
Flask-Cors
selenium
webdriver-manager
beautifulsoup4
requests
dnspython
python-whois
urllib3
pysocks
APScheduler
concurrent-log-handler
googlesearch-python
ipaddress
selenium-stealth